$red: #ff0000;

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 2px;
}

.btn {
  background: $red;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 18px 30px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  &:hover {
    background: darken($red, 10%);
  }
}

input, select {
  border: none;
  background: #f2f2f2;
  padding: 8px;
  margin-right: 5px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.home {
  height: 100vh;
  background: url(./images/pushup.jpg);
  /*Photo by Lopez Robin on Unsplash (https://unsplash.com/photos/1JS6n1uT-uI)*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
  color: #fff;
  .copy {
    float: right;
  }
  h1 {
    color: #fff;
  }
  .btn {
    display: table;
    margin-top: 30px;
  }
}

.config {
  padding: 30px;
  h1, .configform {
    float: left;
    width: 50%;
    @media (max-width: 768px) {
      float: none;
      width: 100%;
    }
  }
  .configform {
    padding: 20px 0;
  }
  .form-group {
    margin-bottom: 15px;
    input, select {
      display: table;
      border-radius: 0;
      margin-top: 5px;
    }
  }
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  input {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 80px;
    padding: 8px;
    margin-right: 5px;
    font-size: 18px;
    @media (max-width: 540px) {
      width: 50px;
    }
  }
  .checkCell {
    width: 40px;
    .check {
      position: absolute;
      top: 12px;
      left: 25px;
      @media (max-width: 540px) {
        left: 10px;
      }
      svg {
        fill: #4CAF50;
      }
    }
  }
  .empty {
    text-align: center;
    background: #f2f2f2;
    padding: 30px;
  }
}

table th,
table td {
  position: relative;
  padding: 12px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-align: left;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}